/// variables ->

$--color-primary-purple: #016f52;
$--color-primary-purple-50: #1a77a3;
$--color-primary-purple-25: #e5e5e5;
$--color-accent-1-blue: #81d2bc;
$--color-accent-1-blue-75: #d7e8ef;
$--color-accent-1-blue-25: #1c77a4;
$--color-neutral-1-dark: #000000;
$--base-white: #ffffff;
$--green: #33836e;
$--base-black: #140a32;
